<section class="container">
  <section class="row" style="justify-content:center;">
    <section class="text-center p-3" style="border:solid;border-radius:10px;border-color:black;">

      <h1><%= @post.caption %></h1>
      <% pet = Pet.find(@post.pet_id) %>
      <% if pet.user_id == current_user.id %>
        <%= link_to 'Delete', post_path(@post), :method => :delete %>
      <% end %>
      <br><br>

      <% if @post.upload.attached? %>
        <%= image_tag @post.upload, height: 500 %>
      <% end %>

    </section>
  </section>
</section>
